<div id="d-flex page-content-wrapper">
    <div class="container-fluid my-5 px-4">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-title">The {{singleCategory?.type}} entry on {{singleCategory?.date}}</h5>
                    <div class="card-body">
                        <p>Date: {{singleCategory?.date}}</p>
                        <p>Amount: {{singleCategory?.amount}}</p>
                        <p>Note: {{singleCategory?.note}}</p>
                        <p>Type: {{singleCategory?.type}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  