<div class="d-flex flex-column flex-md-row" id="wrapper">
  <div class="border-right" id="sidebar-wrapper" *ngIf="isLoggedIn">
      <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
          <div class="user-image-upload">
              <label for="imageUpload" class="image-label">
                  <img id="userImage" src="assets/images/user.jpeg" alt="" class="img-thumbnail">
                  <span class="username-overlay">John Doe</span>
              </label>
          </div>
      </div>
      <div class="list-group list-group-flush my-3">
          <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="list-group-item list-group-item-action bg-transparent second-text active"><i class="fas fa-home me-2 mx-3"></i>Home</a>
          <a routerLink="/budget" routerLinkActive="active" ariaCurrentWhenActive="page" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-sticky-note me-2 mx-3"></i>Budget</a>
          <a routerLink="/report" routerLinkActive="active" ariaCurrentWhenActive="page" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-chart-line me-2 mx-3"></i>Reports</a>
          <a routerLink="/transactions" routerLinkActive="active" ariaCurrentWhenActive="page" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-history me-2 mx-3"></i>Transactions</a>
          <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-user me-2 mx-3"></i>Profile</a>
          <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i class="fas fa-power-off me-2 mx-3"></i>Logout</a>
      </div>
  </div>
  <router-outlet />
</div>