<div class="d-flex flex-column flex-md-row" id="wrapper">
    <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
            <div class="user-image-upload">
                <label for="imageUpload" class="image-label">
                    <img id="userImage" src="" alt="" class="img-thumbnail">
                    <span class="username-overlay">John Doe</span>
                </label>
            </div>
        </div>
        <div class="list-group list-group-flush my-3">
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="list-group-item list-group-item-action bg-transparent second-text active"><i class="fas fa-home me-2 mx-3"></i>Home</a>
            <a routerLink="/transactions" routerLinkActive="active" ariaCurrentWhenActive="page" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-history me-2 mx-3"></i>Transaction</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-chart-line me-2 mx-3"></i>Reports</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-gift me-2 mx-3"></i>Offers</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-user me-2 mx-3"></i>Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i class="fas fa-power-off me-2 mx-3"></i>Logout</a>
        </div>
    </div>
    <router-outlet />
    <!-- <div id="page-content-wrapper">
        <div class="container-fluid px-4">
            <div class="row g-3 my-2">
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="p-3 d-flex justify-content-around align-items-center rounded">
                        <button id="expenseBtn" class="btn btn-primary btn-lg mx-7" (click)="onExpenseButtonClickEvent()">Expense</button>
                        <button id="incomeBtn" class="btn btn-primary btn-lg mx-3" (click)="onIncomeButtonClickEvent()">Income</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" *ngIf="showExpenseForm">
                <div class="col-md-6">
                    <div class="card" width="100%">
                        <div class="card-body">
                            <form [formGroup]="createExpenseForm" (ngSubmit)="onExpenseFormSubmit()">
                                <div class="mb-3">
                                    <label for="date" class="form-label">Date <span class="text-danger">*</span></label>
                                    <input type="date" class="form-control" id="date" formControlName = "date">
                                    <div *ngIf="expenseFormSubmitted && createExpenseForm.controls.date.hasError('required')" class="text-danger">
                                        Date is required
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="expenseNote" class="form-label">Note</label>
                                    <input type="text" class="form-control" id="expenseNote" formControlName = "expenseNote">
                                </div>
                                <div class="mb-3">
                                    <label for="amount" class="form-label">Expense Amount <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                $
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="amount" formControlName = "expenseAmount">
                                    </div>
                                    <div *ngIf="expenseFormSubmitted && createExpenseForm.controls.expenseAmount.hasError('required')" class="text-danger">
                                        Amount is required
                                    </div>
                                    <div *ngIf="expenseFormSubmitted && createExpenseForm.controls.expenseAmount.hasError('pattern')" class="text-danger">
                                        Amount must be a number
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="category" class="form-label">Category <span class="text-danger">*</span></label>
                                    <div class="d-flex flex-wrap align-items-center gap-2 btn-group" role="group"> 
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input type="radio" class="btn-check category-option" id="Food" name="category" value="Food" formControlName="category" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="Food"><i class="fas fa-utensils fa-lg mx-4"></i>Food</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="radio" class="btn-check category-option" id="Housing" name="category" value="Housing" formControlName="category" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="Housing"><i class="fas fa-home fa-lg mx-4"></i>Housing</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="radio" class="btn-check category-option" id="Education" name="category" value="Education" formControlName="category" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="Education"><i class="fas fa-graduation-cap fa-lg mx-4"></i>Education</label>
                                            </div>
                                        </div>
                                        <div class="row my-2">
                                            <div class="col-md-4">
                                                <input type="radio" class="btn-check category-option" id="Checks" name="category" value="Checks" formControlName="category" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="Checks"><i class="fas fa-file-invoice-dollar fa-lg mx-4"></i>Checks</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="radio" class="btn-check category-option" id="Transportation" name="category" value="Transportation" formControlName="category" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="Transportation"><i class="fas fa-bus-alt fa-lg mx-4"></i>Transportation</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="expenseFormSubmitted && createExpenseForm.controls.category.hasError('required')" class="text-danger">
                                        Category is required
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" *ngIf="showIncomeForm">
                <div class="col-md-6">
                    <div class="card" width="100%">
                        <div class="card-body">
                            <form [formGroup]="createIncomeForm" (ngSubmit)="onIncomeFormSubmit()">
                                <div class="mb-3">
                                    <label for="date" class="form-label">Date <span class="text-danger">*</span></label>
                                    <input type="date" class="form-control" id="date" formControlName = "date">
                                    <div *ngIf="incomeFormSubmitted && createIncomeForm.controls.date.hasError('required')" class="text-danger">
                                        Date is required
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="incomeNote" class="form-label">Note</label>
                                    <input type="text" class="form-control" id="incomeNote" formControlName = "incomeNote">
                                </div>
                                <div class="mb-3">
                                    <label for="amount" class="form-label">Income Amount <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                $
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="amount" formControlName = "incomeAmount">
                                    </div>
                                    <div *ngIf="incomeFormSubmitted && createIncomeForm.controls.incomeAmount.hasError('required')" class="text-danger">
                                        Amount is required
                                    </div>
                                    <div *ngIf="incomeFormSubmitted && createIncomeForm.controls.incomeAmount.hasError('pattern')" class="text-danger">
                                        Amount must be a number
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="category" class="form-label">Category <span class="text-danger">*</span></label>
                                    <div class="d-flex flex-wrap align-items-center gap-2 btn-group" role="group"> 
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input type="radio" class="btn-check category-option" id="Salary" name="category" value="Salary" formControlName="category" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="Salary"><i class="fas fa-money-bill fa-lg mx-4"></i>Salary</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="radio" class="btn-check category-option" id="Savings" name="category" value="Savings" formControlName="category" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="Savings"><i class="fas fa-hand-holding-usd fa-lg mx-4"></i>Savings</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="incomeFormSubmitted && createIncomeForm.controls.category.hasError('required')" class="text-danger">
                                        Category is required
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<!-- <router-outlet /> -->
