<div id="d-flex page-content-wrapper">
    <div class="container-fluid px-4">
        <!-- <div class="row g-3 my-2">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="p-3 d-flex justify-content-around align-items-center rounded">
                    <button id="expenseBtn" class="btn btn-primary btn-lg mx-7" (click)="onExpenseButtonClickEvent()">Expense</button>
                    <button id="incomeBtn" class="btn btn-primary btn-lg mx-3" (click)="onIncomeButtonClickEvent()">Income</button>
                </div>
            </div>
        </div> -->
    
        <div class="row justify-content-center my-5">
            <div class="col-md-12">
                <div class="card" width="100%">
                    <div class="card-body">
                        <form [formGroup]="createForm">
                            <div class="mb-3">
                                <label for="date" class="form-label">Date <span class="text-danger">*</span></label>
                                <input type="date" class="form-control" id="date" formControlName = "date">
                                <div *ngIf="formSubmitted && createForm.controls.date.hasError('required')" class="text-danger">
                                    Date is required
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="note" class="form-label">Note</label>
                                <input type="text" class="form-control" id="note" formControlName = "note">
                            </div>
                            <div class="mb-3">
                                <label for="amount" class="form-label">Expense Amount <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            $
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="amount" formControlName = "amount">
                                </div>
                                <div *ngIf="formSubmitted && createForm.controls.amount.hasError('required')" class="text-danger">
                                    Amount is required
                                </div>
                                <div *ngIf="formSubmitted && createForm.controls.amount.hasError('pattern')" class="text-danger">
                                    Amount must be a number
                                </div>
                            </div>
                            <div class="mb-3">
                                <select class="form-select" formControlName = "type" aria-label="Default select example">
                                    <option selected>Budget Type</option>
                                    <option value="1">Expense</option>
                                    <option value="2">Income</option>
                                </select>
                                <div *ngIf="formSubmitted && createForm.controls.type.hasError('required')" class="text-danger">
                                    Budget Type is required
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="category" class="form-label">Category <span class="text-danger">*</span></label>
                                <div class="d-flex flex-wrap align-items-center gap-2 btn-group" role="group"> 
                                    <div class="col-md-4">
                                        <input type="radio" class="btn-check category-option" id="Food" name="categoryId" value="663f2e152158b3404246b7a3" formControlName="categoryId" autocomplete="off">
                                        <label class="btn btn-outline-primary" for="Food"><i class="fas fa-utensils mx-4"></i>Food</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" class="btn-check category-option" id="Education" name="categoryId" value="663f2e152158b3404246b7a4" formControlName="categoryId" autocomplete="off">
                                        <label class="btn btn-outline-primary" for="Education"><i class="fas fa-graduation-cap mx-4"></i>Education</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" class="btn-check category-option" id="Medical" name="categoryId" value="663f2e152158b3404246b7a5" formControlName="categoryId" autocomplete="off">
                                        <label class="btn btn-outline-primary" for="Medical"><i class="fas fa-plus mx-4"></i>Medical</label>
                                    </div>     
                                    <div class="col-md-4">
                                        <input type="radio" class="btn-check category-option" id="Salary" name="categoryId" value="663f2e152158b3404246b7a6" formControlName="categoryId" autocomplete="off">
                                        <label class="btn btn-outline-primary" for="Salary"><i class="fas fa-money-bill mx-4"></i>Salary</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" class="btn-check category-option" id="Bonus" name="categoryId" value="663f2e152158b3404246b7a7" formControlName="categoryId" autocomplete="off">
                                        <label class="btn btn-outline-primary" for="Bonus"><i class="fas fa-hand-holding-usd mx-4"></i>Bonus</label>
                                    </div>
                                </div>
                                <div *ngIf="formSubmitted && createForm.controls.categoryId.hasError('required')" class="text-danger">
                                    Category is required
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>